@charset "UTF-8";
html,
body {
  position: relative;
  scroll-behavior: smooth;
}

body {
  /*  background: #eee; */
  /*  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  /*  font-size: 14px; */
  /*   padding-top: 78px; */
  /* color: #000; */
  /*    margin: 0; */
  padding-right: 0;
  margin: 0;
}

.title_vtrl {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

.flexslider {
  border: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  /* max-width: 100%;
  height: auto; */
}

.slides.animate {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 10s;
  transition: 10s;
}

#fs01 .flex-control-nav {
  /*  height: 100%; */
  right: 3%;
  top: calc(94% - 11px);
  z-index: 8999;
  width: 11px;
  position: absolute;
}

#fs02 .flex-control-nav {
  /* height: 100%; */
  display: none;
  right: 3%;
  top: calc(90% - 11px);
  z-index: 8999;
  width: 11px;
  position: absolute;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.navbar a img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .navbar a img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 414px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.8);
    /*   background-image: url("img/08.png");
     background-size: contain;
    background-repeat: no-repeat; */
  }
}

.navbar .navbar-nav .nav-item {
  font-size: 18px;
  color: white !important;
  padding: 0;
  width: 140px;
  height: 70px;
  line-height: 70px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: 500;
}

.navbar .navbar-nav .nav-item:hover {
  background-color: #b6b6b6;
  color: black !important;
  font-weight: 550;
  font-size: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#banner {
  position: relative;
}

#banner .slides img {
  opacity: 0.99;
  height: 100vh;
  /* width: auto; */
}

#banner .centerTitle {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#banner .centerTitle img {
  width: 200px;
}

#banner .arrow {
  width: 50px;
  z-index: 5;
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#about {
  background-image: url("../img/03.png");
  background-size: cover;
  background-attachment: fixed;
  /* background-repeat: no-repeat;  */
  /*  position: relative; */
  /* .about_img {
    img {
      max-width: 100%;
      height: auto;
     
    }
    
  } */
  width: 100%;
  height: 90vh;
}

@media screen and (max-width: 1024px) {
  #about {
    height: 50vh;
  }
}

@media screen and (max-width: 768px) {
  #about {
    height: 90vh;
  }
}

@media screen and (max-width: 414px) {
  #about {
    height: 100vh;
  }
}

#about .mask {
  width: 100%;
  height: 90vh;
  background-color: rgba(236, 236, 236, 0.418);
}

@media screen and (max-width: 1024px) {
  #about .mask {
    height: 50vh;
  }
}

@media screen and (max-width: 768px) {
  #about .mask {
    background-color: rgba(236, 236, 236, 0.644);
    height: 90vh;
  }
}

@media screen and (max-width: 414px) {
  #about .mask {
    height: 100vh;
  }
}

#about .container {
  height: 90vh;
  /* position: absolute;
left:0%;
top:0%; */
  /* } */
}

@media screen and (max-width: 1024px) {
  #about .container {
    height: 50vh;
  }
}

@media screen and (max-width: 768px) {
  #about .container {
    height: 90vh;
  }
}

@media screen and (max-width: 414px) {
  #about .container {
    height: 80vh;
  }
}

#news {
  background-image: url("../img/17.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  /* height: 100vh; */
}

#news img {
  -webkit-box-shadow: 5px 5px 8px #5c5c5c;
          box-shadow: 5px 5px 8px #5c5c5c;
}

@media screen and (max-width: 768px) {
  #news img {
    width: 50%;
    margin-left: 22vw;
  }
}

@media screen and (max-width: 414px) {
  #news img {
    width: 70%;
    margin-left: 15vw;
  }
}

#news h3:nth-child(1) {
  width: 60%;
  border-style: double;
  background-color: white;
}

#news .card-title {
  text-align: center;
  margin-bottom: 20px;
}

#soup {
  background-image: url("../img/16.jpg");
  background-attachment: fixed;
  padding-top: 50px;
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  /* height: 100vh; */
}

#soup li {
  background-position: center, center;
  width: 100%;
}

#soup .textConttent01 {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-top: 220px;
  text-shadow: 2px 2px 5px black;
}

#soup .textConttent01 h1 {
  font-size: 2.4rem;
  color: white;
}

#soup .textConttent01 h1::before {
  content: "";
  border-left: 3px #848d00 solid;
  margin-right: 10px;
}

#soup .textConttent01 p {
  font-size: 1.5rem;
  color: white;
}

#soup .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#soup .container-fluid #fs02 {
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  max-width: 100%;
  height: auto;
}

#soup .container-fluid #fs03 {
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  max-width: 100%;
  height: auto;
}

#menu {
  background-image: url("../img/16.jpg");
  background-attachment: fixed;
  padding-top: 50px;
  background-size: cover;
  /*  width: 100%; */
  /*  height: AUTO; */
}

#menu .swiper-container {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  #menu .swiper-container {
    width: 100%;
  }
}

#menu .swiper-container img {
  height: 67vh;
}

#add {
  /* height: 100vh; */
  background-image: url("/img/27.png");
  background-position: 0% 15%;
  background-size: cover;
  /*  height: 85vh; */
}

@media screen and (max-width: 1024px) {
  #add {
    background-position: 100% 0%;
    /* height: 50vh; */
  }
}

@media screen and (max-width: 768px) {
  #add {
    /*  height: 100vh; */
  }
}

#add .mask {
  /* height: 100vh; */
  width: 100%;
  /*   height: 85vh; */
  background-color: rgba(236, 236, 236, 0.35);
}

@media screen and (max-width: 1024px) {
  #add .mask {
    /*   height: 50vh; */
  }
}

#add .row {
  padding-bottom: 50px;
}

#add .row .col-lg-4 img {
  width: 100%;
}

#add .row .col-lg-6 {
  background-color: rgba(255, 255, 255, 0.6);
}

#add h5 {
  padding-bottom: 0;
}

#add Iframe {
  width: 100%;
  height: 10%;
}

footer {
  text-align: center;
  padding: 20px 40px;
  color: white;
  background-color: black;
}

footer p {
  font-size: 1.1rem;
  margin: 0;
}
/*# sourceMappingURL=index.css.map */