html,
body {
  position: relative;
  scroll-behavior: smooth;
}
body {
  /*  background: #eee; */
  /*  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  /*  font-size: 14px; */
  /*   padding-top: 78px; */
  /* color: #000; */
  /*    margin: 0; */
  padding-right: 0;
  margin: 0;
}
.title_vtrl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.flexslider {
  border: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  /* max-width: 100%;
  height: auto; */
}
.slides.animate {
  transform: scale(1.5);
  transition: 10s;
}

#fs01 .flex-control-nav {
  /*  height: 100%; */
  right: 3%;
  top: calc(94% - 11px);
  z-index: 8999;
  width: 11px;
  position: absolute;
  pointer-events: none;
}

#fs02 .flex-control-nav {
  /* height: 100%; */
  display: none;
  right: 3%;
  top: calc(90% - 11px);
  z-index: 8999;
  width: 11px;
  position: absolute;
}
.navbar {
  a img {
    width: 60px;
    height: 60px;
    @media screen and(max-width:768px) {
      width: 50px;
      height: 50px;
    }
  }

  background-color: rgba(0, 0, 0, 0);
  @media screen and(max-width:414px) {
    background-color: rgba(0, 0, 0, 0.8);

    /*   background-image: url("img/08.png");
     background-size: contain;
    background-repeat: no-repeat; */
  }

  .navbar-nav {
    .nav-item {
      font-size: 18px;
      color: white !important;
      padding: 0;
      width: 140px;
      height: 70px;
      line-height: 70px;
      transition: 0.3s linear;
      font-weight: 500;
      &:hover {
        background-color: rgb(182, 182, 182);
        color: black !important;
        font-weight: 550;
        /* font-size: 20px; */
        transition: 0.2s linear;
      }
    }
  }
}
#banner {
  position: relative;
  .slides {
    img {
      opacity: 0.99;
      height: 100vh;
      /* width: auto; */
    }
  }
  .centerTitle {
    img {
      width: 200px;
    }
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    animation-duration: 5.5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
  }
  .arrow {
    width: 50px;
    z-index: 5;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);

    animation-duration: 1.6s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }
}
#about {
  background-image: url("../img/03.png");

  background-size: cover;
  background-attachment: fixed;
  /* background-repeat: no-repeat;  */
  /*  position: relative; */
  /* .about_img {
    img {
      max-width: 100%;
      height: auto;
     
    }
    
  } */
  /* width: 100%;
  height: 90vh; */
  /*   @media screen and(max-width:1024px) {
    height: 50vh;
  }
  @media screen and(max-width:768px) {
    height: 90vh;
  }
  @media screen and(max-width:414px) {
    height: 100vh;
  } */
  .mask {
    width: 100%;
    /* height: 90vh; */
    background-color: rgba(236, 236, 236, 0.418);
    /*   @media screen and(max-width: 1024px) {
      height: 50vh;
    }

    @media screen and(max-width: 768px) {
      background-color: rgba(236, 236, 236, 0.644);
      height: 90vh;
    }
    @media screen and(max-width:414px) {
      height: 100vh;
    } */
  }
  .container {
    height: 90vh;
    @media screen and(max-width: 1024px) {
      height: 45vh;
    }
    @media screen and(max-width:768px) {
      height: 90vh;
    }
    @media screen and(max-width:414px) {
      height: auto;
    }
    /* position: absolute;
left:0%;
top:0%; */
    /* } */
  }
}

#news {
  background-image: url("../img/17.jpg");
  background-attachment: fixed;

  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  /* height: 100vh; */
  img {
    box-shadow: 5px 5px 8px #5c5c5c;
    @media screen and(max-width:768px) {
      width: 50%;
      margin-left: 22vw;
    }
    @media screen and(max-width:414px) {
      width: 70%;
      margin-left: 15vw;
    }
  }
  .col-lg-4 {
    h3 {
      width: 100%;
      border-style: double;
      background-color: white;
      outline: none;
      transition: 0.3s linear;
      &:hover{
        background-color: rgb(192, 192, 192);
        transition: 0.3s linear;
        /* position: relative;
        left: -5px;
        top: -5px;
        box-shadow: 2px 2px 7px black;; */
       
      }
    }
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .card-title {
    text-align: center;
    margin-bottom: 20px;
  }
}

#soup {
  background-image: url("../img/16.jpg");
  background-attachment: fixed;
  padding-top: 50px;
  background-size: cover;

  background-repeat: repeat;
  width: 100%;
  li {
    background-position: center, center;
    width: 100%;
  }
  .textConttent01 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-top: 350px;
    text-shadow: 2px 2px 5px black;
    h1 {
      font-size: 2.4rem;
      color: white;
    }
    h1::before {
      content: "";
      border-left: 3px rgb(132, 141, 0) solid;
      margin-right: 10px;
    }
    p {
      font-size: 1.5rem;
      color: white;
    }
  }
  /* height: 100vh; */
  .container-fluid {
    padding-left: 0;
    padding-right: 0;

    #fs02 {
      overflow: hidden;
      position: relative;
      margin-bottom: 0;
      max-width: 100%;
      height: auto;
    }
    #fs03 {
      background-color: rgba(255, 255, 255, 0);
      overflow: hidden;
      position: relative;
      margin-bottom: 0;
      max-width: 100%;
      height: auto;
    }
  }
}

#menu {
  background-image: url("../img/16.jpg");
  background-attachment: fixed;
  padding-top: 50px;
  background-size: cover;
  /*  width: 100%; */
  /*  height: AUTO; */
  .swiper-container {
    width: 50%;
    @media screen and(max-width:1024px) {
      width: 100%;
    }
    img {
      height: 67vh;
    }
  }
}

#add {
  /* height: 100vh; */
  background-image: url("/img/27.png");
  background-position: 0% 15%;
  background-size: cover;

  /*  height: 85vh; */
  @media screen and(max-width:1024px) {
    background-position: 100% 0%;
    /* height: 50vh; */
  }
  @media screen and(max-width:768px) {
    /*  height: 100vh; */
  }
  .mask {
    /* height: 100vh; */
    width: 100%;

    /*   height: 85vh; */
    background-color: rgba(236, 236, 236, 0.35);
    @media screen and(max-width:1024px) {
      /*   height: 50vh; */
    }
  }
  .row {
    /* padding-bottom: 50px; */
    .addImg img {
      width: 100%;
    }
    .addInfo {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
  h5 {
    padding-bottom: 0;
  }
  
}

footer {
  text-align: center;
  padding: 20px 40px;
  p {
    font-size: 1.1rem;
    margin: 0;
  }
  color: white;
  background-color: black;
}
