html,
body {
  position: relative;
  scroll-behavior: smooth;
}
body {
  /*  background: #eee; */
  /*  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  /*  font-size: 14px; */
  /*   padding-top: 78px; */
  /* color: #000; */
  /*    margin: 0; */
  padding-right: 0;
  margin: 0;
}
.title_vtrl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.flexslider {
  border: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  /* max-width: 100%;
  height: auto; */
}
.slides.animate {
  transform: scale(1.5);
  transition: 10s;
}

#fs01 .flex-control-nav {
  /*  height: 100%; */
  right: 3%;
  top: calc(94% - 11px);
  z-index: 8999;
  width: 11px;
  position: absolute;
  pointer-events: none;
}

#fs02 .flex-control-nav {
  right: 3%;
  top: calc(90% - 11px);
  z-index: 8999;
  width: 11px;
  position: absolute;
}
.navbar {
  a img {
    width: 60px;
    height: 60px;
    @media screen and(max-width:768px) {
      width: 50px;
      height: 50px;
    }
  }

  background-color: rgba(0, 0, 0, 0);
  @media screen and(max-width:414px) {
    background-color: rgba(0, 0, 0, 0.8);

    /*   background-image: url("img/08.png");
     background-size: contain;
    background-repeat: no-repeat; */
  }

  .navbar-nav {
    .nav-item {
      font-size: 18px;
      color: white !important;
      padding: 0;
      width: 140px;
      height: 70px;
      line-height: 70px;
      transition: 0.3s linear;
      font-weight: 500;
      &:hover {
        background-color: rgb(182, 182, 182);
        color: black !important;
        font-weight: 550;
        /* font-size: 20px; */
        transition: 0.2s linear;
      }
    }
  }
}
#banner {
  position: relative;
  .slides {
    img {
      opacity: 0.99;
      height: 100vh;
      /* width: auto; */
    }
  }
  .centerTitle {
    img {
      width: 200px;
    }
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    animation-duration: 5.5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
  }
  .arrow {
    width: 50px;
    z-index: 5;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);

    animation-duration: 1.6s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }
}
#about {
  background-image: url("../img/03Tiny.png");

  background-size: cover;
  background-attachment: fixed;
  /* background-repeat: no-repeat;  */
  /*  position: relative; */
  /* .about_img {
    img {
      max-width: 100%;
      height: auto;
     
    }
    
  } */
  /* width: 100%;
  height: 90vh; */
  /*   @media screen and(max-width:1024px) {
    height: 50vh;
  }
  @media screen and(max-width:768px) {
    height: 90vh;
  }
  @media screen and(max-width:414px) {
    height: 100vh;
  } */
  .mask {
    width: 100%;
    /* height: 90vh; */
    background-color: rgba(236, 236, 236, 0.418);
    /*   @media screen and(max-width: 1024px) {
      height: 50vh;
    }

    @media screen and(max-width: 768px) {
      background-color: rgba(236, 236, 236, 0.644);
      height: 90vh;
    }
    @media screen and(max-width:414px) {
      height: 100vh;
    } */
  }
  .container {
    height: 95vh;
    @media screen and(max-width: 1024px) {
      height: 45vh;
    }
    @media screen and(max-width:768px) {
      height: 90vh;
    }
    @media screen and(max-width:414px) {
      height: auto;
    }
    /* position: absolute;
left:0%;
top:0%; */
    /* } */
  }
}

#news {
  background-image: url("../img/17.jpg");
  background-attachment: fixed;

  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  /* height: 100vh; */
  img {
    box-shadow: 5px 5px 8px #5c5c5c;
    @media screen and(max-width:768px) {
      width: 50%;
      margin-left: 22vw;
    }
    @media screen and(max-width:414px) {
      width: 70%;
      margin-left: 15vw;
    }
  }
  .col-lg-4 {
    h3 {
      width: 100%;
      border-style: double;
      background-color: white;
      outline: none;
      transition: 0.3s linear;
      &:hover {
        background-color: rgb(192, 192, 192);
        transition: 0.3s linear;
        /* position: relative;
        left: -5px;
        top: -5px;
        box-shadow: 2px 2px 7px black;; */
      }
    }
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .card-title {
    text-align: center;
    margin-bottom: 20px;
  }
}

#soup {
  background-image: url("../img/16.jpg");
  background-attachment: fixed;
  padding-top: 50px;
  background-size: cover;

  background-repeat: repeat;
  width: 100%;
  .title {
    line-height: 1.2;
    font-size: 1.6rem;
    padding-top: 10px;
    b {
      font-size: 2.4rem;
      line-height: 1.2;
      border-top: 2px solid;
      padding-top: 10px;
    }
  }
  li {
    background-position: center, center;
    width: 100%;
    background-size: cover;
    height: 35vw;
    @media screen and(max-width:1024px) {
      height: 50vw;
    }
    @media screen and(max-width:768px) {
      height: 70vw;
    }
    @media screen and(max-width:414px) {
      height: 80vw;
    }

    .textConttent01 {
      background-color: rgba(255, 255, 255, 0.5);
      width: 100%;
      margin-top: 350px;
      @media screen and(max-width:1024px) {
        margin-top: 250px;
      }
      text-shadow: 2px 2px 5px black;
      h1 {
        font-size: 2.4rem;
        color: white;
        @media screen and(max-width:414px) {
          font-size: 1.6rem;
          margin-bottom: 0;
        }
      }
      h1::before {
        content: "";
        border-left: 3px rgb(132, 141, 0) solid;
        margin-right: 10px;
      }
      p {
        font-size: 1.5rem;
        color: white;
        @media screen and(max-width:414px) {
          font-size: 1rem;
        }
      }
    }
  }
  /* height: 100vh; */
  .container-fluid {
    padding-left: 0;
    padding-right: 0;

    #fs02 {
      overflow: hidden;
      position: relative;
      margin-bottom: 0;
      max-width: 100%;
      height: auto;
    }
    #fs03 {
      background-color: rgba(255, 255, 255, 0);
      overflow: hidden;
      position: relative;
      margin-bottom: 0;
      max-width: 100%;
      height: auto;
    }
  }
}

#menu {
  background-image: url("../img/16.jpg");
  background-attachment: fixed;
  padding-top: 50px;
  background-size: cover;
  /*  width: 100%; */
  /*  height: AUTO; */
  .swiper-container {
    width: 50%;
    @media screen and(max-width:1024px) {
      height: 40vh;
      /*  width: 55%; */
    }
    img {
      height: 67vh;
      @media screen and(max-width:1024px) {
        height: 40vh;
      }
    }
  }
}

#add {
  /* height: 100vh; */
  background-image: url("/img/27Tiny.png");
  background-position: 0% 15%;
  background-size: cover;

  /*  height: 85vh; */
  @media screen and(max-width:1024px) {
    background-position: 100% 0%;
    /* height: 50vh; */
  }
  @media screen and(max-width:768px) {
    /*  height: 100vh; */
  }
  .mask {
    /* height: 100vh; */
    width: 100%;

    /*   height: 85vh; */
    background-color: rgba(236, 236, 236, 0.35);
    @media screen and(max-width:1024px) {
      /*   height: 50vh; */
    }
  }
  .addBox {
    margin-top: 12vw;
    @media screen and(max-width:1024px) {
      margin-top: 130px;
    }
    @media screen and(max-width:414px) {
      margin-top: 20px;
    }
  }
  .row {
    /* padding-bottom: 50px; */

    .addImg img {
      width: 100%;
    }
    .addInfo {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
  h5 {
    padding-bottom: 0;
  }
  .container {
    height: 100vh;
    @media screen and(max-width: 1024px) {
      height: 55vh;
    }
    @media screen and(max-width:768px) {
      height: auto;
    }
    @media screen and(max-width:414px) {
      height: auto;
    }
  }
  .card {
    cursor: pointer;
    .card-body {
      background-position: center;
      background-size: cover;
      height: 20vw;
      @media screen and(max-width: 1024px) {
        height: 30vw;
      }
      @media screen and(max-width: 768px) {
        height: 55vw;
      }
      @media screen and(max-width: 414px) {
        height: 65vw;
      }
      h3 {
        display: inline-block;
        color: white;
        background-color: rgba(236, 236, 236, 0.418);
        text-shadow: 2px 2px 7px black;
      }
    }
  }
  .modal {
    .modal-lg {
      max-width: 900px;
      @media screen and(max-width:1024px) {
        max-width: 700px;
      }
      @media screen and(max-width:768px) {
        max-width: 700px;
      }
    }
    .modal-banner {
      width: 100%;
      height: 55vh;
      @media screen and(max-width:1024px) {
        height: 35vh;
      }
      @media screen and(max-width:768px) {
        height: 40vh;
      }
      @media screen and(max-width:414px) {
        height: 30vh;
      }
      /*    background-position: 100% 60%; */
      background-size: cover;
         border: 1px solid #a38a77; 
    }
    .modal-header {
      border-bottom: 1px solid #a38a77;
    }
    .modal-body {
      border: 1px solid #a38a77;
      .nav-item a{
        color: white;
        &:focus{
          color: black;
        }
      }
      .nav-link{
        @media screen and(max-width:320px) {
          padding: 1rem .4rem;
        }
      }
      .nav-link.active{
        color: black;
      }
      .store_content{
        padding-top: 20px;
        padding-left: 17px;
      }
    
      /*  height: 60vh;
      background-size: cover; */
      /* .modal_mask {
        background-color: rgba(53, 53, 53, 0.2);
        width: 766px;
        height: 561px;
        position: absolute;
        transition: 0.3s linear;

        @media screen and(max-width: 768px) {
          width: 466px;
          height: 341px;
        }
        @media screen and(max-width: 414px) {
          width: 364px;
          height: 266.92px;
        }
        @media screen and(max-width: 375px) {
          width: 325px;
          height: 238.33px;
        }
        @media screen and(max-width: 320px) {
          width: 270px;
          height: 198px;
        } */
    }
    
    .modal_img {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .modal-content {
    color: #fff;
    background-color: rgba(35, 24, 21, 0.9);
    border: 1px solid #a38a77;
    border-radius: 0;
  }
  .modal-title {
    text-align: center;
  }
  .modal-footer {
    border-top: 1px solid #a38a77;
  }
}

footer {
  text-align: center;
  padding: 20px 40px;
  /* img{
    width:10vw;
  } */
  p {
    font-size: 1.1rem;
    margin: 0;
    @media screen and(max-width:414px) {
      font-size: 0.8rem;
    }
  }
  color: white;
  background-color: black;
}
